<div class='align-center'>
  <h1>You have a current game, you can't do this action</h1>
  <h2>Do you want?</h2>
  <a class='btn btn-success btn-large' href='/game'>Back to Game</a>
  <a class='btn btn-warning btn-large' href='/close_game'>Close Game</a>
</div>