<div id='casino'>
  <h1>You have <%=@money%></h1>
  <form  id ='make-a-bet' method='post' action='/game'>
    <h3>How much do you want to bet? <%=@player_label%> <%=@player_name%></h3>
    <img class='small-image' alt='' src='/images/bob.png' />
    <span class='labels'>$</span> <input type='text' name='bet' autofocus />
  </br>
    <div class='align-center'>
      <input type='submit' class='btn btn-primary btn-large' value="Let's Play Blackjack" />
    </div>
  </form>
</div>