<!DOCTYPE html>
<html>
  <head>
    <title>Blackjack</title>
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/application.css">
    <script type="text/javascript" src="/js/jquery_1_10_2.js"></script>
    <script type="text/javascript" src="/application.js"></script>
  </head>
  <body style="padding-top: 50px;">
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class='align-right'>
            <% if @player_name %>
              <span><%= @player_label %> <%= @player_name %></span>
                <a class='close-game' href='/close_game'>Close Game</a>
            <% end %>
        </div>
      </div>
    </div>

  <div class="container">
    <% if @error %>
      <div class="alert alert-error"><%=@error%></div>
      <%end%>
      <div id='error-message' class="alert alert-error"></div>
      <div id='casino'>
        <%= yield %>
      </div>
  </div>
  </body>
</html>
