<h1>Welcome to the CASINO</h1>
<form method='post'>

  <h3>Is a honor be your dealer, what is your name? </h3>
  <select name='player_label' />
    <option>Mr.</option>
    <option>Mrs.</option>
    <option>Miss</option>
  </select>
  <input type='text' name='player_name' autofocus />
  <br/>
  <br/>
  <input type='submit' class='btn btn-info btn-large' value='Make a bet' />
</form>