<h1>Welcome to the CASINO</h1>
<form method='post'>

  <label >Is a honor be your dealer, what is your name? </label>
  <select name='player_label' />
    <option>Mr.</option>
    <option>Mrs.</option>
    <option>Miss</option>
  </select>
  <br/>
  <input type='text' name='player_name' />
  <br/>
  <input type='submit' class='btn btn-success' value='Make a bet' />
</form>