
<div class='align-center'>
  <h1>Thanks for playing!</h1>
  <img class='small-image' alt='take my money' src='http://i1.ytimg.com/vi/JQCP85FngzE/maxresdefault.jpg' />
  <a class='btn btn-large btn-success' href='/close_game'>Go to Casino</a>
</div>