div#action-container{
  margin-top:2em;
}
form.action{
  float:left;
  margin-right: 1em;
}
.hand{
  font-size: 1.2em;
}

.hand .total{
  font-weight: bolder;
}

.align-center{
  text-align: center;
}

.align-right{
  text-align: right;
}

.close-game{
  color:#999;
  font-size: 0.9em;
  margin-right: 2em;
  font-style: italic;
}

.small-image{
  width:300px;
}

body{
  padding-bottom:3em;
}

h2,h3{
  color: #999;
}